<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Role</title>
<link href="css/Style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="outer">
	<div class="container">
		<h2 class="title">Role</h2>
		<div class="main">
		<form action="" name="roleform" class="subform">
			<table class="main_table">
				<tbody>
					
					<tr class="odd">
						<td class="titletd"><span class="subtitle">User Name: </span></td>
						<td >
							<select class="subselect">
								<option>select</option>
								<option>abc</option>
								<option>xyz</option>
							</select>
						</td>
					</tr>
					<tr class="even">
						<td class="titletd"><span class="subtitle">Description: </span></td>
						<td>
							<input class="subinput" name="description" />
						</td>
					</tr>
					<tr class="odd">
						<td class="titletd"><span class="subtitle">Status: </span></td>
						<td>
							<input type="radio" name="status" required="required"/>Active
							<input type="radio" name="status" required="required"/>InActive
						</td>
					</tr>
					<tr class="even">
						<td class="titletd"><span class="subtitle">Role: </span></td>
						<td>
							<input type="radio" name="role" required="required"/>System Admin
							<input type="radio" name="role" required="required"/>User
						</td>
					</tr>
					<tr>
						<td class="titletd"></td>
						<td>
							<input type="button" value="Save" class="subbutton" />
							<input type="button" value="Reset" class="subbutton" />
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>
</div>
</body>
</html>