<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<link href="css/Style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="outer">
	<div class="container">
		<h2 class="title">Admin</h2>
		<div class="main">
		<form action="" name="adminform" class="subform">
			<table class="main_table">
				<tbody>
					
					<tr class="odd">
						
						<td class="titletd">
							Registered Users  </td>
							<td><a href="Registered_Users">Click Here</a>
						</td>
					</tr>
					<tr class="even">
						<td class="titletd">
							 Registered Clients </td>
							<td><a href="Registered_Users">Click Here</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="titletd">
							Registered Groups </td>
							<td><a href="Registered_Users">Click Here</a>
						</td>
					</tr>
					<tr class="even">
						<td class="titletd">
							Role Assigned to Users </td>
							<td><a href="Registered_Users">Click Here</a>
						</td>
					</tr>
					
					<tr class="odd">						
						<td class="titletd">
							Assign Roles To Users  </td>
							<td><a href="Registered_Users">Click Here</a>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>
</div>
</body>
</html>